html{

scroll-behavior:smooth;

}
*{

user-select:none;

}
body{

animation:fadePage .8s ease;

}

@keyframes fadePage{

from{

opacity:0;

transform:translateY(15px);

}

to{

opacity:1;

transform:translateY(0);

}

}